@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind+Madurai:wght@300&family=Nunito:ital,wght@0,400;0,500;1,400&display=swap');
 



@media screen and (max-width: 500px) {



    .header{


        width: 100%;
        height: 130px;
        background-color:  #F4D7D7;
        text-align: center;
    }
    
    .logo {
        height:105px;
        width: 100%;
        background-color: white;
        position: relative;
   
        top: 15px;
       

        /* font-family: Harlekin; */
        display: flex;
        flex-direction: column;
      }
.logo-img{

    position:relative;
    height: 80px;
    top: 5px;
    border-top: solid red 2px;
    
    
}
.under-logo-text{
    position: relative;
    margin-top: -6px;
    font-family: 'Nunito', sans-serif;
    color: #222020;
    font-weight:600;
    border-bottom: solid red 3.5px;
    font-size: 12px;
}

    .red-text{
        color:rgb(250, 3, 3);
        font-size: 12px;
    }
    

    .main{

    background-color: rgb(239, 234, 234);
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 15px;
    gap: 15px;

    }

.food-box{
    
    width: 323px;
    height: 96px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(240, 70, 70, 0.866) 0px -3px 0px inset;
    display: grid;
    
    grid-template-rows: 32px 32px 32px ;
    grid-template-columns: 1fr 0.1fr 1fr ;
    grid-template-areas:
      "content1 content7 content2 "
      "content1 content6 content3"
      "content1 content5 content4 ";
   

}

.box-image{
    grid-area: content1;
    width: 148px;
    height: 93px;
    border-radius:10px 0px 0px 10px;

}
.box-title{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 17px;
    grid-area: content2;
    justify-self: start;
    align-self: center;
    padding: 7px 0px 0px 7px;
}
.box-description{
    font-family: 'Hind Madurai', sans-serif;
    justify-self: start;
    align-self: center;
    font-size: 8px;
    padding: 0px 0px 0px 7px;
    grid-area: content3;
}
.price{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size:9px;
    justify-self: end;
    align-self: center;
    padding-right: 7px;
    grid-area: content4;
}
.arrow{
    grid-area: content5;
    justify-self: end;
    align-self: end;
}
    }
